*.iml
/VioletMedia/.gradle
/VioletMedia/local.properties
/VioletMedia/.idea/caches
/VioletMedia/.idea/libraries
/VioletMedia/.idea/modules.xml
/VioletMedia/.idea/workspace.xml
/VioletMedia/.idea/navEditor.xml
/VioletMedia/.idea/assetWizardSettings.xml
/VioletMedia/.DS_Store
/VioletMedia/build
/VioletMedia/captures
/VioletMedia/.externalNativeBuild
/VioletMedia/.cxx
/VioletMedia/local.properties
/video-server/videos
/video-server/node_modules
